body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inter';
}

#body{
    background-color: #63A77E;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(224, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none; 
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}
  

#header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

#top-left{
    display: flex;
    align-items: center;
    width: 17.4rem;
    margin-left: 15px;
    justify-content: space-around;
}

#top-right{
    display: flex;
    width: 18.75rem;
    margin-right: 50px;
    justify-content: space-between;
}

.web-name{
    font-weight: bold;
    font-size: 35px;
    color: white;
}

.fun{
    color: white;
    font-size: 25px;
}

.fun:hover{
    border-bottom: 2px solid white;
}

#main{
    text-align: center;
    /* height: 200px; */
}

#main-title{
    font-size: 50px;
    font-weight: bold;
    padding-top: 20px;
    margin: 0;
}

#main-desc{
    font-size: 22px;
    font-weight: 200;
    line-height: 25px;
}

#search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.search-box{
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    border-radius: 15px;
    height: 1.75rem;
    text-align: center;
    border: 0px;
}

.search-box:focus{
    border: 3px solid black;
    /* transform: scale(1.1); */
    background-color: black;
    border-radius: 50px;
    color: #63A77E;
}

#random-generator{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#random-title, #user-input{
    justify-content: flex-start;
    font-size: 25px;
    font-weight: 700;
    margin: 1.5%;
}

#random-food{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

#randomMealImg{
    height: 350px;
    width: 350px;
    transition: 0.3s;
    /* border: 5px solid whitesmoke; */
    cursor: pointer;
    border-radius: 20px;
}

#randomMealImg:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform: scale(1.1);
}

.pointer{
    cursor: pointer;
}

#inputMealImg{
    height: 350px;
    width: 350px;
    border: 5px solid whitesmoke;
    border-radius: 20px;
    transition: 0.3s;
}

#inputMealImg:hover{
    transform: scale(1.1);
}

#inputMealName, #api-foodName{
    width: 400px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}

#noMeal{
    text-align: center;
    font-size: x-large;
}

#meal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#ingred{
    font-weight: 700;
    font-size: xx-large;
}

#video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#meal-details{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: #a1cab1;
    margin: 0 20%;
    width: 60%;
    border-radius: 30px;
    visibility: hidden;
    top: 300px;
    height: 500px;
    overflow: auto;
}

#close-logo{
    height: 30px;
    width: 30px;
    margin-left: 500px;
}


#top{
    display: flex;
    align-items: center;
    justify-content: space-between
}

#credits{
    background-color: black;
}

#credits div{
    color: white;
}

.social-media{
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#credits{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
